/************************************
 Section About Animation
************************************/
@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes image {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

:root {
  --color-primary: #a61e4d;
  --color-primary-light: #d6336c;
  --color-primary-dark: #b3164d;
  --color-secondary-light: #6d28d9;
  --color-secondary-dark: #5b21b6;
  --color-tertiary-light: #94d826;
  --color-tertiary-dark: #e67322;
  --color-white: #fff;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #fdf2e9;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

/************************/
/* Basic Reset */
/************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555; }

a {
  text-decoration: none; }

ul,
li {
  list-style: none; }

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px; }

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem; }

.heading-secondary {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 9.6rem; }

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem; }

.heading-featured-in {
  font-size: 2rem;
  color: var(--color-grey-light-1);
  margin-bottom: 2.4rem; }

.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-secondary-dark);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem; }

.paragraph {
  font-size: 1.9rem;
  letter-spacing: 0.27rem;
  margin-bottom: 4rem;
  font-weight: 400; }

/******************************/
/* Utilites/Helper Classes */
/******************************/
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem; }

.center-text {
  text-align: center !important; }

.margin-right-small {
  margin-right: 1.6rem !important; }

.margin-bottom-large {
  margin-bottom: 4.8rem !important; }

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  transition: all 0.3s;
  position: relative; }

.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-grey-light-1); }

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--color-grey-light-1);
  color: #555; }

.btn--primary {
  background: #e73827;
  color: #fff; }

.btn-secondary {
  padding: 0.9rem 5rem;
  text-transform: uppercase;
  background-color: #e73827;
  color: #f4f4f4;
  border: 2px solid #f4f4f4;
  font-size: 2rem;
  letter-spacing: 0.15em;
  cursor: pointer; }

.btn-secondary:hover {
  background-color: #f82727; }

.btn1:link,
.btn1:visited {
  padding: 1rem 5rem; }

.all-recipies {
  font-size: 1.8rem; }

.link:link,
.link:visited {
  display: inline-block;
  padding-bottom: 2px;
  color: var(--color-secondary-dark);
  border-bottom: 1px solid currentColor;
  transition: all 0.3s; }

.link:hover {
  border-bottom: 1px solid transparent; }

/**************************/
/* Features Boxes */
/**************************/
.features {
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem; }

.feature-box {
  text-align: center;
  box-shadow: 0 3.4rem 0 -2rem #ffc50c;
  color: #333;
  padding: 1rem 2.6rem; }
  .feature-box:not(:last-child) {
    margin-right: 1.7rem; }
  .feature-box__icon {
    height: 3.2rem;
    width: 3.2rem;
    color: var(--color-secondary-dark);
    background-color: var(--color-grey-light-4);
    margin-bottom: 1.6rem;
    padding: 1.6rem;
    border-radius: 50%; }
  .feature-box__title {
    font-size: 2.4rem;
    font-weight: 500;
    columns: #333;
    margin-bottom: 1.6rem; }
  .feature-box__text {
    font-size: 1.8rem;
    line-height: 1.5; }
  .feature-box--1 {
    background-color: #f3d9fa;
    background-color: #bac8ff;
    background-color: #fcc2d7; }
  .feature-box--2 {
    background-color: #eebafe; }
  .feature-box--3 {
    background-color: #d0bfff;
    background-color: #ffc9c9; }

/**************************/
/* Features In Logos */
/**************************/
.logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.6rem; }
  .logos__img {
    background-color: var(--color-grey-light-1);
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .logos__img img {
      width: 100%;
      filter: brightness(0);
      opacity: 50%;
      object-fit: cover; }

/***********************************/
/* How It Works (Features Steps) */
/***********************************/
.step__number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem; }

.step__description {
  font-size: 1.8rem;
  line-height: 1.8; }

.step__image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  .step__image-box::before, .step__image-box::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%); }
  .step__image-box::before {
    width: 60%;
    background-color: #fdf2e9;
    z-index: -2;
    padding-bottom: 60%; }
  .step__image-box::after {
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1; }

.step__img {
  width: 35%;
  object-fit: cover; }

.section-meals {
  padding: 4rem 0; }

.meal {
  display: flex;
  margin-right: 4rem; }
  .meal__details {
    margin-bottom: 4rem;
    display: flex; }
  .meal__img {
    display: block;
    width: 18rem;
    height: 18rem;
    border: 0.6rem solid var(--color-grey-light-4);
    border: 0.6rem solid #ff6331;
    border: 0.6rem solid #ffc9c9;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out; }
  .meal__image-box:hover .meal__img {
    transform: scale(1.14) translateY(-0.5rem);
    transform: scale(1.15); }
  .meal__details:hover .meal__content-box:not(:hover) {
    transform: scale(0.9) translateY(0); }
  .meal__content-box {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    backface-visibility: hidden;
    transition: all 0.3s; }
  .meal__title {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.9rem; }
  .meal__price {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 0.6rem; }
  .meal__description {
    font-size: 1.6rem;
    line-height: 1.6; }

/************************************
 Pricing Card
************************************/
.pricing {
  padding: 10rem 0; }

.pricing-board {
  column-gap: 2rem !important; }

.pricing__plan {
  border: 2px solid #f3d9fa;
  width: 100%;
  border-radius: 1.1rem;
  overflow: hidden; }
  .pricing__plan--complete {
    background: #ffedde;
    background-color: #f3d9fa;
    position: relative;
    overflow: hidden; }
    .pricing__plan--complete::after {
      content: "best value";
      display: inline-block;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 0.8rem 8rem;
      position: absolute;
      top: 7%;
      right: -18%;
      transform: rotate(45deg);
      background: #ffd43e; }

.pricing__header {
  padding: 3rem;
  margin-bottom: 4.8rem;
  margin-bottom: 2.8rem;
  background-color: var(--color-primary);
  background-color: #101d35;
  color: var(--color-white); }

.pricing__name {
  font-size: 2rem;
  color: var(--color-tertiary-dark);
  color: #ffd43b;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 1.6rem; }

.pricing__price {
  font-size: 6.2rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  margin-bottom: 2.6rem; }

.pricing__price span {
  font-size: 6.2rem;
  font-weight: 500;
  margin-right: -0.8rem; }

.pricing__text {
  line-height: 1;
  font-size: 1.6rem;
  padding-bottom: 4.8rem; }

.pricing__list {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }

.pricing__info {
  display: flex;
  align-items: center;
  gap: 1.6rem; }

.pricing__icon {
  width: 3rem;
  height: 3rem;
  color: #cf711f; }

.pricing__info span {
  font-size: 1.8rem; }

.pricing__sign-up {
  font-size: 2rem;
  margin: 4.8rem 0 3rem 2rem; }

.pricing__sign-up .btn--text:link,
.pricing__sign-up .btn--text:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 3.5rem;
  background-color: #cf711f;
  color: #fff; }

/**************************/
/* Food Recipes & Diets */
/**************************/
.recipe {
  background-color: #101d36;
  color: var(--color-grey-light-1);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.4s ease; }
  .recipe__img {
    width: 100%; }
  .recipe__content {
    position: relative;
    padding: 3.2rem 4.8rem 4.8rem 4.8rem; }
  .recipe__tags {
    position: absolute;
    background-color: var(--color-grey-light-1);
    width: 80%;
    top: -6rem;
    left: 0;
    padding: 2rem; }
  .recipe__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333; }
  .recipe__attributes {
    margin: 4.8rem 0 3.2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .recipe__attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem; }
    .recipe__attribute span {
      color: #f3d9fa; }
    .recipe__attribute strong {
      font-weight: 500;
      color: var(--color-white); }
  .recipe__icon {
    width: 2.4rem;
    height: 2.4rem;
    color: var(--color-tertiary-dark); }
  .recipe:hover {
    transform: translateY(-1.2rem); }

.diet__lists {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem; }

.diet__list {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem; }

.diet__icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-tertiary-dark); }

/**************************/
/* Recipes Tags */
/**************************/
.tag {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
  padding: 0.4rem 0.8rem; }
  .tag--vegeterian {
    background-color: #51cf66; }
  .tag--vegan {
    background-color: #94d82d; }
  .tag--paleo {
    background-color: #ffd43b; }

.testimonials-container {
  padding: 9.6rem; }

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem; }

.testimonial__img {
  width: 6.4rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.2rem; }

.testimonial__text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem; }

.testimonial__name {
  font-size: 1.6rem;
  color: #6f6f6f; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem; }
  .gallery__image {
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease; }
    .gallery__image img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .gallery__image:hover {
      filter: brightness(80%); }

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem; }
  .grid:not(:last-child) {
    margin-bottom: 9.6rem; }

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr); }

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr); }

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr); }

.grid--center-verical {
  align-items: center; }

.header {
  position: relative;
  background-color: var(--color-grey-light-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.6rem;
  transition: transform 1s; }
  .header__logo-box {
    display: flex; }
  .header__logo {
    height: 2.2rem; }

/****** Header Sticky ******/
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.97);
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1000;
  box-shadow: 0 1.3rem 3.2rem rgba(0, 0, 0, 0.03);
  transition: 0.3s; }

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
  overflow: hidden; }
  .hero__text-box {
    animation: text 2s ease-in-out forwards; }
  .hero__description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem; }
  .hero__image-box {
    animation: image 2s ease-in-out forwards;
    position: relative; }
  .hero__img {
    width: 100%;
    object-fit: cover; }
    .hero__img--1 {
      left: 20%;
      width: 50%;
      height: 100%; }
    .hero__img--2 {
      height: 50%;
      width: 60%;
      top: 25%;
      left: 40%; }
    .hero__img--3 {
      width: 72%;
      bottom: -10%;
      left: -2%; }
  .hero__delivered-meals {
    display: flex;
    align-items: center;
    gap: 3.3rem;
    margin-top: 8rem; }
  .hero__delivered-imgs {
    display: flex; }
    .hero__delivered-imgs img {
      width: 4.8rem;
      height: 4.8rem;
      margin-right: -1.6rem;
      border: 3px solid var(--color-grey-light-4);
      border-radius: 50%; }
  .hero__delivered-text {
    font-size: 1.8rem;
    font-weight: 700; }
    .hero__delivered-text span {
      color: var(--color-secondary-dark);
      font-weight: 700; }

.navigation__lists {
  display: flex;
  align-items: center;
  gap: 4.8rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #333;
  transition: all 0.4s;
  border-radius: 0.5rem; }

.navigation__link:hover, .navigation__link:active {
  color: #a61e4d; }

.navigation__link--active:link, .navigation__link--active:visited {
  padding: 1.2rem 2.4rem;
  background-color: var(--color-primary);
  color: var(--color-grey-light-1); }

.navigation__link--active:hover, .navigation__link--active:visited {
  background-color: var(--color-primary-light); }

.section-hero {
  background-color: var(--color-grey-light-4);
  padding: 4.8rem 0 9.6rem 0; }

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
  background-color: var(--color-primary); }

.section-how {
  padding: 9.6rem 0; }

.section-recipes {
  padding: 9.6rem 0; }

.section-features {
  padding: 10rem;
  background-color: #730039; }

.section-testimonials {
  background-color: var(--color-grey-light-4);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center; }
