.navigation {
  &__lists {
    display: flex;
    align-items: center;
    gap: 4.8rem;
  }
  &__link:link,
  &__link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #333;
    transition: all 0.4s;
  }
  &__link:hover,
  &__link:active {
    color: #a61e4d;
  }
  &__link--active:link,
  &__link--active:visited {
    padding: 1.2rem 2.4rem;
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
  }
  &__link--active:hover,
  &__link--active:visited {
    background-color: var(--color-primary-light);
  }
}
