.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    border-radius: 0.8rem;
    border: none;
    outline: none;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
  }

  &--full:link,
  &--full:visited {
    background-color: var(--color-primary);
    color: var(--color-grey-light-1);
  }

  &--outline:link,
  &--outline:visited {
    background-color: var(--color-grey-light-1);
    color: #555;
  }

  &--round:link,
  &--round:visited {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;
    padding: 0.4rem;
    border-radius: 50%;
    background-color: var(--color-grey-dark-4);
    color: var(--color-grey-dark-1);
    color: white;
  }
  &--sign-up {
    background-color: #45260a;
    color: white;
    padding: 1.2rem;
    align-self: end;
    &:hover {
      background-color: var(--color-white);
      color: var(--color-grey-dark-1);
    }
  }
}

.btn--primary {
  background: #e73827;
  color: #fff;
}

.btn-secondary {
  padding: 0.9rem 5rem;
  text-transform: uppercase;
  background-color: #e73827;
  color: #f4f4f4;
  border: 2px solid #f4f4f4;
  font-size: 2rem;
  letter-spacing: 0.15em;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #f82727;
}

.btn1:link,
.btn1:visited {
  padding: 1rem 5rem;
}
.all-recipies {
  font-size: 1.8rem;
}
.link:link,
.link:visited {
  display: inline-block;
  padding-bottom: 2px;
  color: var(--color-secondary-dark);
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}
.link:hover {
  border-bottom: 1px solid transparent;
}
