.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  transition: all 0.3s;
  position: relative;
}
.btn--full:link,
.btn--full:visited {
  background-color: var(--color-primary);
  color: var(--color-grey-light-1);
}
.btn--outline:link,
.btn--outline:visited {
  background-color: var(--color-grey-light-1);
  color: #555;
}
.btn--primary {
  background: #e73827;
  color: #fff;
}
.btn-secondary {
  padding: 0.9rem 5rem;
  text-transform: uppercase;
  background-color: #e73827;
  color: #f4f4f4;
  border: 2px solid #f4f4f4;
  font-size: 2rem;
  letter-spacing: 0.15em;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #f82727;
}

.btn1:link,
.btn1:visited {
  padding: 1rem 5rem;
}
.all-recipies {
  font-size: 1.8rem;
}
.link:link,
.link:visited {
  display: inline-block;
  padding-bottom: 2px;
  color: var(--color-secondary-dark);
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}
.link:hover {
  border-bottom: 1px solid transparent;
}
