/**************************/
/* Features Boxes */
/**************************/
.features {
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  //grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
  gap: 2rem;
}
.feature-box {
  text-align: center;
  box-shadow: 0 3.4rem 0 -2rem #ffc50c;
  color: #333;

  padding: 1rem 2.6rem;
  &:not(:last-child) {
    margin-right: 1.7rem;
  }
  &__icon {
    height: 3.2rem;
    width: 3.2rem;
    color: var(--color-secondary-dark);
    background-color: var(--color-grey-light-4);
    margin-bottom: 1.6rem;
    padding: 1.6rem;
    border-radius: 50%;
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    columns: #333;
    margin-bottom: 1.6rem;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &--1 {
    background-color: #f3d9fa;
    background-color: #bac8ff;
    background-color: #fcc2d7;
  }
  &--2 {
    background-color: #eebafe;
  }
  &--3 {
    background-color: #d0bfff;
    background-color: #ffc9c9;
  }
}

/**************************/
/* Features In Logos */
/**************************/

.logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.6rem;
  &__img {
    background-color: var(--color-grey-light-1);
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      filter: brightness(0);
      opacity: 50%;
      object-fit: cover;
    }
  }
}
