/***********************************/
/* How It Works (Features Steps) */
/***********************************/
.step {
  &__number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
  }
  &__description {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  &__image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      width: 60%;
      background-color: #fdf2e9;
      z-index: -2;
      padding-bottom: 60%;
    }
    &::after {
      width: 45%;
      padding-bottom: 45%;
      background-color: #fae5d3;
      z-index: -1;
    }
  }
  &__img {
    width: 35%;
    object-fit: cover;
    // animation: moveIn 10s infinite;
  }
}

// animation
// @keyframes moveIn {
//   0% {
//     transform: translateY(2%);
//   }
//   50% {
//     transform: translateY(-2%);
//   }
//   100% {
//     transform: translateY(2%);
//   }
// }
