.section-meals {
  padding: 4rem 0;
  // background-color: #0c1023;
  // color: $color-grey-light-1;
}
.meals {
  padding-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding-left: 1.2rem;
  margin-top: 4rem;
}
.meal {
  display: flex;
  width: 46%;
  margin-right: 4rem;
  &__details {
    margin-bottom: 4rem;
    display: flex;
    // margin-right: 4rem;
  }
  &__img {
    display: block;
    width: 18rem;
    height: 18rem;
    border: 0.6rem solid $color-grey-light-4;
    border: 0.6rem solid #ff6331;
    border: 0.6rem solid #730099;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
  }
  &__image-box:hover &__img {
    transform: scale(1.14) translateY(-0.5rem);
    transform: scale(1.15);
  }
  &__details:hover &__content-box:not(:hover) {
    transform: scale(0.9) translateY(0);
  }

  &__content-box {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
    backface-visibility: hidden;
    transition: all 0.3s;
  }
  &__title {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.9rem;
  }
  &__price {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  &__description {
    font-size: 1.6rem;
  }
}
.section-food {
  padding: 9.6rem 0;
}
// food
.food-meal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.food {
  background-color: #101d26;
  // padding: 2rem;
  color: $color-grey-light-1;
  &__img {
    border-radius: 1.1rem;
    width: 100%;
  }
  &__content {
    position: relative;
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  &__tags {
    position: absolute;
    background-color: $color-grey-light-1;
    width: 80%;
    top: -6rem;
    left: 0;
    padding: 1rem;
    // text-align: center;
    .tag {
      display: inline-block;
      font-size: 1.2rem;
      border-radius: 10rem;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 1rem;
      color: #333;
      padding: 0.4rem 0.8rem;
      &--vegeterian {
        background-color: #51cf66;
      }
      &--vegan {
        background-color: #94d82d;
      }
      &--paleo {
        background-color: #ffd43b;
      }
    }
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
  }
  &__attributes {
    margin-top: 6.4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    strong {
      font-weight: 500;
    }
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    color: #e67322;
  }
}
.diet {
  // color: $color-grey-light-1;
  &__lists {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &__list {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    color: #e67e22;
  }
}
