.meal {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  column-gap: 2rem;
  padding: 2rem;
  background-color: #101d28;
  color: #f3d9fa;
  border-radius: 0.2rem;

  &__image-box {
    grid-row: 1 / span 2;
  }

  &__img {
    display: block;
    width: 18rem;
    height: 18rem;
    object-fit: cover;
    object-position: center;
    border: 0.6rem solid #ffc9c9;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  &__image-box:hover &__img {
    transform: scale(1.15);
  }

  &__image-box:hover + &__info:not(:hover) {
    transform: scale(0.9);
  }

  &__image-box:hover ~ &__btn:not(:hover) {
    transform: scale(0.8);
  }

  &__info {
    grid-row: 1 / 3;
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backface-visibility: hidden;
    transition: all 0.3s;
    z-index: 90;
  }

  &__title {
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.9rem;
  }

  &__description {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 1.6rem;
  }

  &__stats-box {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
  }

  &__stat {
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__stat-value,
  &__stat-name {
    display: block;
    width: max-content;
  }

  &__stat-value {
    font-weight: 500;
    margin-bottom: 0.4rem;
  }

  &__stat-name {
    font-size: 1.2rem;
    text-transform: uppercase;
    &--1 {
      color: var(--color-tertiary-dark);
    }
    &--2 {
      color: var(--color-tertiary-light);
    }
  }

  &__btn {
    grid-column: 2 / -1;
    grid-row: 1 / 3;
    place-self: end;
    margin: 1.6rem;
    z-index: 100;
  }
}
