/************************************
 Pricing Card
************************************/
.pricing {
  padding: 10rem 0;
}
.pricing-board {
  column-gap: 2rem !important;
}
.pricing {
  &__plan {
    border: 2px solid #f3d9fa;
    width: 100%;
    border-radius: 1.1rem;
    overflow: hidden;
    &--complete {
      background: #ffedde;
      background-color: #f3d9fa;
      position: relative;
      overflow: hidden;
      &::after {
        content: "best value";
        display: inline-block;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0.8rem 8rem;
        position: absolute;
        top: 7%;
        right: -18%;
        transform: rotate(45deg);
        background: #ffd43e;
      }
    }
  }
  &__header {
    padding: 3rem;
    margin-bottom: 4.8rem;
    margin-bottom: 2.8rem;
    background-color: var(--color-primary);
    background-color: #101d35;
    color: var(--color-white);
  }
  &__name {
    font-size: 2rem;
    color: var(--color-tertiary-dark);
    color: #ffd43b;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 1.6rem;
  }
  &__price {
    font-size: 6.2rem;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;
    margin-bottom: 2.6rem;
  }
  &__price span {
    font-size: 6.2rem;
    font-weight: 500;
    margin-right: -0.8rem;
  }
  &__text {
    line-height: 1;
    font-size: 1.6rem;
    padding-bottom: 4.8rem;
  }

  &__list {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &__info {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    color: #cf711f;
  }
  &__info span {
    font-size: 1.8rem;
  }
  &__sign-up {
    font-size: 2rem;
    margin: 4.8rem 0 3rem 2rem;
  }
  &__sign-up .btn--text:link,
  &__sign-up .btn--text:visited {
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 3.5rem;
    background-color: #cf711f;
    color: #fff;
  }
}
