/**************************/
/* Food Recipes & Diets */
/**************************/
.recipe {
  background-color: #101d36;
  color: var(--color-grey-light-1);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.4s ease;
  &__img {
    width: 100%;
  }
  &__content {
    position: relative;
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }
  &__tags {
    position: absolute;
    background-color: var(--color-grey-light-1);
    width: 80%;
    top: -6rem;
    left: 0;
    padding: 2rem;
  }
  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
  }
  &__attributes {
    margin: 4.8rem 0 3.2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__attribute {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    span {
      color: #f3d9fa;
    }
    strong {
      font-weight: 500;
      color: var(--color-white);
    }
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    color: var(--color-tertiary-dark);
  }
  &:hover {
    transform: translateY(-1.2rem);
  }
}
.diet {
  &__lists {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
  &__list {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  &__icon {
    width: 3rem;
    height: 3rem;
    color: var(--color-tertiary-dark);
  }
}

/**************************/
/* Recipes Tags */
/**************************/
.tag {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 10rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
  padding: 0.4rem 0.8rem;
  &--vegeterian {
    background-color: #51cf66;
  }
  &--vegan {
    background-color: #94d82d;
  }
  &--paleo {
    background-color: #ffd43b;
  }
}
