.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.2rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  background-image: linear-gradient(
    to right,
    var(--color-gradient),
    var(--color-gradient-to),
    rgba(74, 212, 128, 0)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  background-image: linear-gradient(
    to right,
    var(--color-gradient),
    var(--color-gradient-to),
    rgba(74, 212, 128, 0)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading-featured-in {
  font-size: 2rem;
  color: var(--color-grey-light-1);
  margin-bottom: 2.4rem;
}

.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-secondary-dark);
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 1.6rem;
}

.paragraph {
  font-size: 1.9rem;
  letter-spacing: 0.27rem;
  margin-bottom: 4rem;
  font-weight: 400;
}
