/******************************/
/* Utilites/Helper Classes */
/******************************/

.center-text {
  text-align: center !important;
}

.margin-right-small {
  margin-right: 1.6rem !important;
}

.margin-bottom-large {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-small {
  margin-bottom: 3.2rem !important;
}

/* Overall Page Container Width */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
