/*************************/
/* Home page  */
/*************************/

.section-hero {
  background-color: var(--color-grey-light-4);
  padding: 4.8rem 0 9.6rem 0;
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
  background-color: var(--color-primary);
}

.section-how {
  padding: 9.6rem 0;
}

.section-recipes {
  padding: 9.6rem 0;
}

.section-meals {
  padding: 9.6rem 0;
}

.section-pricing {
  padding: 10rem 0;
}

.section-features {
  padding: 10rem;
  background-color: #730039;
}

.section-testimonials {
  background-color: var(--color-grey-light-4);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary),
    var(--color-primary-dark)
  );
  background: #101d48;
  overflow: hidden;

  &__form {
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 1.8;
    color: white;
  }
  &__img {
    background-image: url(../images/food-menu1.jpg);
    background-size: cover;
    background-position: center;
  }
}
